body {
    background: #eee;
}

#colour-changer{
    width: 100px;
    height: 100px;
    margin: 30px auto;
    border: 2px solid #000;
    border-radius: 50%;
    background: olive;

    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    transition: background 1s;
}

#notification {
    text-align: center;
    font-family: calibri;
    font-weight: bold;
    text-transform: uppercase;
}